html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Barlow, sans-serif;
}

aside {
  float: left;
  box-sizing: border-box;
  height: 100%;
  width: 35%;
  background-image: url("../laughing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

aside > h1 {
  color: #dddddd;
  background-color: rgba(0 0 0 / 0.3);
  font-family: Nanum Pen Script, sans-serif;
  text-align: center;
  font-size: 7em;
  margin: 20% 0 0 0;
}

aside > cite {
  position: absolute;
  bottom: 0;
  width: 35%;
  padding-bottom: 0.5em;
  text-align: center;
  font-style: normal;
  color: #777777
}

cite > a {
  color: inherit;
}

main {
  float: left;
  box-sizing: border-box;
  height: 100%;
  width: 65%;
  padding-top: 5%;
  font-size: 1.5em;
}

main > * {
  box-sizing: border-box;
  padding: 0 5%;
}

main > h1 {
  font-size: 4rem;
  margin: 0;
}

main > h2 {
  font-size: 1.5rem;
  color: #aaaaaa;
  font-style: italic;
  margin-bottom: 2rem;
}

